.Container {
  width: 100%;
  min-width: 100vh;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.MinHeight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
