.LoginFooter {
  text-align: center;
  margin-top: 2em;
  padding-top: 24px;
  border-top: 1px solid #e5e7eb;
}

.LoginFooter span {
  font-weight: bold;
  color: #0063b1;
}

.LoginFooter p {
  font-size: 13px;
  color: #9ca3af;
  margin: 0;
}
