.container {
  width: 100%;
  min-height: 70vh;

  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 40px 20px;
}

/* Header */

.header {
}

.title {
  font-size: 2.2rem;
  margin: 0;
}

.highlight {
  color: var(--color-accent, #84b0dc);
  margin-left: 4px;
}

/* Content */

.content {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
